.btn-outline-success{

}
.form-search{
    width: 180px;
    height: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.but-search{
    background-color: #47B5FF;
    color: #fff;
    position: relative;
    left: -32px;
    height: 28.5px;
    border: none;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.navbar{
    background-color: #DFF6FF;
}
.search{
    /* background-color: blueviolet; */
    margin-left:5px ;
}
.slide{
    width: 100%;
    height: 40vh;
    overflow: hidden;
}
.ukuran{
    width: 100%;
    height: 45vh;
}
.item-forsale{
    width: 100%;
    height: 620px;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
.img-buku{
    width: 100%;
    height: 45vh;


}
.img-buku img{
    width: 100%;
    height: 100%;

}
.bawah-item{
    background-color: #b3e1f3;
    height: 100%;

}
.info-buku{
    width: 100%;
    height: 18vh;

    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    padding: 5px;
}
.penulis-buku{
    margin-top: 15px;
    margin-bottom: 1px;
}

.judul-buku{
    font-size: 17px;
}
.harga-buku{
    font-size: 14px;
    margin-left: 20px;
    font-weight: 100;
}


.wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit,20rem);
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;

}
.action button{
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;

    height: 35px;
}
.keranjang{
    width: 45px;
    background: #47B5FF;
    color: #fff;
}
.buy-now{
    background-color: aquamarine;
}
.go-to-page{
    background-color: rgb(232, 232, 131);
}
.action{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}



